<footer>
    <div class="f-info">
    <div class="company-social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="company-text">&copy:wonderlust private limited</div>
    <div class="company-term">
        <a href="/privacy">privacy</a>
        <a href="/term">terms</a>
    </div>
 </div>
</footer>