<%layout("layouts/boilerplate")-%>
<style>
  .filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem,1rem,0.5rem,1rem;
    
  }
  .filter{
    
    margin-top:1rem;
    margin-right: 2rem;
    opacity:0.7;
    text-align: center;

  }
  .filter:hover{
    opacity:1;

  }
  .filter p{
    font-size: 15px;
  }
  .taxes{
    
    align-items: center;
    border: 1px solid black;
    height: 40px;
    
    border-radius: 25px;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .tax-info{
    display: none;
  }
  

</style>

<body>
  
    <div class="filters">

      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>mountain</p>
      </div>

      
      <div class="filter">
        <i class="fa-solid fa-fish"></i>
        <p>Fishin area</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-igloo"></i>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-city"></i>
        <p>Top city</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-cow"></i>
        <p>farm</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-water"></i>
        <p>lakeview</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-arrow-up-from-ground-water"></i>
        <p>Sea view</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-kitchen-set"></i>
        <p>chef Kitchen</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-wind"></i>
        <p>Windmills</p>
      </div>
      <div class="taxes">
        <div class="form-check form-switch form-check-reverse">
          <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">check taxes</label>
        </div>
      </div>




    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
    
    <%for(let listing of allListings){%>

      <a href="/listing/<%=listing._id%>"class="card-link">
    <div class="card col listing-card" >
      <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image"style="height:20rem;">
      <div class="card-img-overlay"></div>
      <div class="card-body">
       <b> <p class="card-text"><%=listing.tittle%></p></b>
        <p class="card-text">&#x20B9;<%=listing.price.toLocaleString("en-IN")%>/night</p>
        <i class="tax-info">Gst+18%</i>
      </div>
    </div>
  </a>
  
    <% } %>
  </div>

  <script>

    let check=document.getElementById("flexSwitchCheckDefault");
    let taxinfo=document.getElementsByClassName("tax-info");

    
    check.addEventListener("click",()=>{
      for(tax of taxinfo ){
      if(tax.style.display!="inline"){
     
        tax.style.display="inline";
        
      }
      else{
        tax.style.display="none";

      }
    } 
    })
  </script>
    
  
   
    
</body>




